
<footer class="footer">
  <div class="container">
    <div class="footer__inner"><a class="logo" href="/"><img src="./images/logo.svg" alt="Screenshoter+"/></a>
      <div class="footer__info">
        <section class="footer__info-item">
          <h4 class="footer__list-title">Продукт</h4>
          <ul class="footer__list">
            <li class="footer__list-item"><a href="#"> Функции</a></li>
            <li class="footer__list-item"><a href="#">Преимущества</a></li>
            <li class="footer__list-item"><a href="#">Как использовать</a></li>
          </ul>
        </section>
        <section class="footer__info-item">
          <h4 class="footer__list-title"> <a href="#"> Обратная связь</a></h4>
        </section>
        <section class="footer__info-item">
          <h4 class="footer__list-title"><a href="#"> Политика конфиденциальности</a></h4>
        </section>
      </div>
    </div>
  </div>
</footer>