
<header class="header m-t-50">
  <div class="container">
    <div class="header__inner"><a class="logo" href="/"><img src="./images/logo.svg" alt="Screenshoter+"/></a>
      <button class="menu-btn"> <span> </span><span> </span><span></span></button>
      <nav class="menu"> 
        <ul class="menu__list"> 
          <li class="menu__list-item"> <a href="#">Функции</a></li>
          <li class="menu__list-item"> <a href="#">Преимущества</a></li>
          <li class="menu__list-item"> <a href="#">Как использовать</a></li>
          <li class="menu__list-item"> <a href="#">Частые вопросы</a></li>
          <div class="dropdown">
            <button class="dropdown__button">RU</button>
            <div class="dropdown__content"><a class="dropdown__item disabled" href="/" id="ru">RU</a><a class="dropdown__item" href="/" id="eng">ENG</a></div>
            <input class="dropdown__input-hidden" type="text" name="select-category" value=""/>
          </div>
        </ul>
      </nav>
    </div>
  </div>
</header>